<section class="recipe" *ngIf="recipeDetails">
  <h2>
    {{recipeDetails.label}}
  </h2>

  <img src="{{recipeDetails.image}}" />

  <div class="ingredients">
    <div *ngFor="let ingredient of recipeDetails.ingredientLines">
      <p>
        - {{ingredient}}
      </p>
    </div>
    <p id="servings">
      number of servings: {{recipeDetails.yield}}
    </p>
  </div>

  <div class="health">
    <div *ngFor="let label of recipeDetails.healthLabels">
      <p>
        {{label}}
      </p>
    </div>
  </div>

  <div class="recipeLinks">
    <a href="{{recipeDetails.url}}" target="_blank">
      full recipe and instructions
    </a>
    <button (click)="handleSaveRecipe(recipeDetails)">save</button>
  </div> 

</section>