<section class="savedRecipes">
    <div *ngIf="savedRecipes && savedRecipes.length; then savedRecipesList else noSavedRecipesMessage"></div>
    <ng-template #savedRecipesList>
      <div class="removeAllButton">
        <button id="removeAll" (click)="removeAllRecipes()">remove all recipes</button>
      </div>
      <div class="recipeCards">
        <div class="recipeCard" *ngFor="let recipe of savedRecipes">
          <a routerLink="/recipes/{{recipe.label.split(' ').join('-')}}/{{recipe.uri.slice(51)}}" routerLinkActive="active">
            <img src="{{recipe.image}}"/>
          <!-- </a> -->
          <p class="label">{{recipe.label}}</p>
          </a>
          <button (click)="removeRecipe(recipe.uri)">remove</button>
        </div>
      </div>
    </ng-template>

    <ng-template #noSavedRecipesMessage>
      <div class="noSavedRecipes">
        <p>you don't have any saved recipes</p>
        <a routerLink="/">search for recipes</a>
      </div>
    </ng-template>
  </section>
