<section class="savedRecipes" *ngIf="savedRecipes">
  <div class="recipes" *ngIf="savedRecipes.length && !isLoading">
    <div class="removeAllButton">
      <button id="removeAll" (click)="removeAllRecipes()">remove all recipes</button>
    </div>
    <div class="recipeCards">
      <div class="recipeCard" *ngFor="let recipe of savedRecipes">
        <a routerLink="/recipes/{{recipe.recipe_id}}" routerLinkActive="active">
          <img src="{{recipe.image}}"/>
        <p class="label">{{recipe.label}}</p>
        </a>
        <button (click)="removeRecipe(recipe.recipe_id)">remove</button>
      </div>
    </div>
    
    <a routerLink="/">
      <div id="backToSearch"><< back to recipes search</div>
    </a>
    
  </div>

<div class="noSavedRecipes" *ngIf="!savedRecipes.length && !isLoading">
  <p>you don't have any saved recipes</p>
  <a routerLink="/">search for recipes</a>
</div>

</section>

<div class="loader" *ngIf="isLoading && !savedRecipes">
</div>