.savedRecipes {
    width: 90%;
    margin: 40px auto;
}

.removeAllButton {
    width: 100%;
    margin: 10px 0 50px;
    display: flex;
    justify-content: flex-end;
}

.savedRecipes button {
    background: #db8e46;
    color: darkslategray;
}

.savedRecipes button:hover {
    background: #b36319;
    color: white;
}

#removeAll {
    font-size: 15px;
    margin: 10px 0;
    padding: 8px;
    position: sticky;
    top: 0px;
}

.recipeCard {
    width: 380px;
    max-width: 95%;
    margin: 30px 0;
    padding: 40px;
    background: white;
}

.recipeCard img {
    width: 300px;
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

.recipeCard p {
    display: block;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
}

.recipeCard button {
    margin: 10px 0;
    font-size: 13px;
}

.noSavedRecipes {
    background: white;
    width: 80%;
    max-width: 500px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.noSavedRecipes p {
    font-size: 26px;
    font-style: italic;
    font-weight: 100;
    display: block;
    width: 100%;
    margin: 30px;
    text-align: center;
}

.noSavedRecipes a {
    background: #ffceb1;
    color: darkslategray;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 0 30px;
    padding: 5px;
    border: 1px solid antiquewhite;
    box-shadow: 0 3px 2px #9b6f3a;
}

.noSavedRecipes a:hover {
    background: antiquewhite;
    transition: 0.25s;
}