<section class="login" *ngIf="!isAuthenticated">
  <form #form="ngForm"(ngSubmit)="handleLogin(form)">
    <div class="textField">
      <input ngModel type="email" name="email" placeholder="email" required />
    </div>
    <div class="textField">
      <input ngModel type="password" name="password" placeholder="password" required />
    </div>  
    <div class="rememberMe">Remember me, please!
      <input ngModel type="checkbox" name="rememberMe"/>
    </div>
    <button type="submit">sign in</button>
</form>
  <div class="register">
    <p>Don't have an account yet? <a routerLink="/register">Register here!</a> </p>
  </div>
</section>

<section class="loggedIn" *ngIf="isAuthenticated">
  <p>You're signed in!</p>
    <a routerLink="/">Back to recipe search</a>
</section>
