<section class="login" *ngIf="!isAuthenticated">
  <form #form="ngForm"(ngSubmit)="handleLogin(form)">
    <input ngModel type="text" name="email" placeholder="email" required />
    <input ngModel type="text" name="password" placeholder="password" required />
    <div>Remember me, please!
      <input ngModel type="checkbox" name="rememberMe"/>
    </div>
    <button type="submit">login</button>
</form>
  <div class="register">
    <p>Don't have an account yet? <a routerLink="/register">Register here!</a> </p>
  </div>
</section>

<section class="loggedIn" *ngIf="isAuthenticated">
  <div>You're signed in!</div>
  <div>
    <a routerLink="/">back to recipe search</a>
  </div>
</section>
