<section class="search">
  <form #form="ngForm"(ngSubmit)="handleSearch(form)">
    <div class="searchfield">
      <input ngModel type="text" name="search" placeholder="search for recipes" required />
      <button type="submit">search</button>
    </div>
    <div class="diet">
      <div *ngFor="let healthLabel of healthLabels">
        <input ngModel type="checkbox" name="&health={{healthLabel}}"/> {{healthLabel.split('-').join(' ')}}
      </div>
      <div *ngFor="let dietLabel of dietLabels">
        <input ngModel type="checkbox" name="&diet={{dietLabel}}"/> {{dietLabel.split('-').join(' ')}}
      </div>
    </div>
  </form>
</section>

<section class="searchResult" *ngIf="recipes">
  <div *ngIf="recipes.length; then recipesList else notFoundMessage"></div>
  <ng-template #recipesList>
    <div class="recipeCard" *ngFor="let recipe of recipes">
      <img src="{{recipe.image}}"/>
      <a routerLink="/recipes/{{recipe.id}}" class="label" routerLinkActive="active">
      {{recipe.label}}
      </a>
      <button (click)="handleSaveRecipe(recipe)">save</button>
    </div>
  </ng-template>
  <ng-template #notFoundMessage>
    <p>sorry, we couldn't find any recipes :(</p>
  </ng-template>
</section>

<section class="loading" *ngIf="form.submitted && !recipes">
  <p>wait for it.... (°-°)</p>
</section>