.search,
.searchResult {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search form {
    width: 90%;
    margin: 50px 0;
}

.searchfield {
    margin: 10px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.searchfield input {
    width: 400px;
    margin: 7px;
    padding: 6px 15px;
    border-radius: 15px;
    border: 1px solid lightgray;
    font-size: 14px;
}

.search input:focus {
    outline: none;
}

.search button {
    margin: 7px;
    font-size: 14px;
}

.diet {
    width: 600px;
    max-width: 90%;
    margin: 8px auto 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.diet div {
    font-size: 13px;
    padding: 2px;
    margin: 6px;
    border: 1px dashed antiquewhite;
}

.loading {
    background: antiquewhite;
    font-size: 20px;
    width: 300px;
    max-width: 50%;
    margin: 0 auto;
    padding: 7px;
    display: flex;
    justify-content: center;
    animation: loader 2.5s infinite;
}

@keyframes loader {
    0% {background-color: #ffba9f}
    50% {background-color: #fd8f50}
    100% {background-color: #ffba9f}
}

.searchResult p {
    margin: 5px 0;
    text-align: center;
}

.recipeCard {
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipeImg {
    width: 310px;
    height: 310px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipeCard img {
    width: 310px;
    height: 310px;
}

.recipeCard button {
    font-size: 15px;
    margin-top: 20px;
}

.label {
    background: antiquewhite;
    color: darkslategray;
    text-decoration: none;
    max-width: 280px;
    padding: 5px 7px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    z-index: 2;
}

.label:hover {
    background: #ebbd82;
    transition: 0.15s;
}