.search,
.searchResult {
    margin: 50px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search p {
    margin: 5px 0;
    text-align: center;
}

.search form {
    width: 90%;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.search input {
    width: 500px;;
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 15px;
    border: 1px solid lightgray;
    font-size: 14px;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
}

.recipeCard {
    width: 310px;
    height: 310px;
    margin: 30px 10px;
    text-align: center;
}

.recipeCard img {
    margin: 5px;
}