<section class="search">
  <form #form="ngForm"(ngSubmit)="handleSearch(form)">
    <div class="searchfield">
      <input ngModel type="text" name="search" placeholder="search for recipes" required />
      <button type="submit">search</button>
    </div>
    <div class="diet">
      <div *ngFor="let dietLabel of dietLabels">
        <input ngModel type="checkbox" name={{dietLabel}}/> {{dietLabel.split('-').join(' ')}}
      </div>
    </div>
  </form>
</section>

<section class="searchResult">
  <div class="recipes" *ngIf="form.submitted && recipes">
    <div class="recipeCard" *ngFor="let recipe of recipes">
      <div class="recipeImg">
        <img src="{{recipe.image}}"/>
        <a routerLink="/recipes/{{recipe.id}}" class="label" routerLinkActive="active">
        {{recipe.label}}
        </a>
      </div>
      <button (click)="handleSaveRecipe(recipe)">save</button>
    </div>
  </div>
  <div class="notFound" *ngIf="form.submitted && !isLoading && !recipes || form.submitted && !isLoading && recipes.length<1">
    <p>sorry we couldn't find any recipes :(</p>
  </div>
</section>

<section class="loading" *ngIf="form.submitted && isLoading">
  <p>wait for it.... (°-°)</p>
</section>