<nav>
  <div>
    <a routerLink="/">home</a>
  </div>
  <div>
    <a routerLink="/recipes/saved">saved recipes</a>
  </div>
</nav>

<div class="banner" style="text-align:center">
  <header>
    <h1>
      {{ title }}
    </h1>
  </header>
</div>

<router-outlet></router-outlet>

<footer>
  <div>
    - <a href="http://ellenstyrelius.chas.academy/" target="_blank">Ellen Styrélius</a> 2019 -
  </div>
  <div class="photoCredit">
    <p>banner photo by <a href="https://unsplash.com/@kate5oh3" target="_blank" title="Katie Smith on Unsplash">Katie Smith</a></p>
  </div>
</footer>