nav {
    background: white;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    box-shadow: 0 1px 1px #836b50;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    background: #fcece2;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    padding: 4px;
    /* border: 1px dashed #689797; */
}

nav a:hover {
    background: #547267;
    color: white;
    transition: 0.2s;
}

.banner {
    background-image: url("../assets/images/katie-smith.jpg");
    background-position: center;
    background-size: 100%; 
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

header {
    width: 95%;
    height: 90%;
    border: 3px solid #faf4ec; 
    display:flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 65px;
    font-weight: 100;
    color: #faf4ec;
}

footer {
    background: #cf7d4d;
    color: white;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    width: 100%;
    height: 120px;
    margin-top: 300px;
    padding: 30px;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer a {
    color: #f8d7c1;
    text-decoration: none;
}

footer a:hover {
    color: white;
    transition: 0.7s;
}

.photoCredit {
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}