<nav>
  <div>
    <a routerLink="/" (click)="clearStoredRecipeSearch()">home</a>
  </div>

  <div>
    <button class="navLink" id="register" *ngIf="!isAuthenticated" [routerLink]="['/register']">register</button>
    <button class="navLink" id="login" *ngIf="!isAuthenticated" [routerLink]="['/login']">sign in</button>
    <button class="navLink" id="logout" *ngIf="isAuthenticated" [routerLink]="['/']" (click)="logout()">logout</button>
    <button class="navLink" *ngIf="isAuthenticated" [routerLink]="['/recipes/saved']">saved recipes</button>
  </div>
</nav>
