/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#ffbca1, #fab677);
    background-size: cover;
    font-family: Helvetica, sans-serif;
    color: darkslategray;
    min-height: 100vh;
}  

button {
    margin: 0 5px;
    padding: 6px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 3px 3px #9b6f3a;
    cursor: pointer;
    font-weight: 100;
    color: white;
    background: #547267;
}

button:hover {
    background: antiquewhite;
    color: darkslategray;
    transition: 0.15s;
}

button:focus {
    outline: none;
}

a {
    color: #427272;
}

img {
    border-radius: 100%;
}

input[type="checkbox"] {
    cursor: pointer;
}
