/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, #ffc1b9, #f7b15d);
    background-size: cover;
    font-family: Helvetica, sans-serif;
    color: darkslategray;
}  

button {
    margin: 0 5px;
    padding: 6px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 3px 2px #9b6f3a;
    cursor: pointer;
    font-weight: 100;
    color: white;
    background: #547267;
}

button:hover {
    background: #fcccb6;
    color: darkslategray;
    transition: 0.25s;
}

a {
    color: #427272;
}

img {
    border-radius: 100%;
}