<section class="register">
  <form #form="ngForm"(ngSubmit)="handleRegister(form)">
    <input ngModel type="text" name="email" placeholder="email" required />
    <input ngModel type="text" name="password" placeholder="password" required />
    <input ngModel type="text" name="passwordRepeat" placeholder="repeat password" required />
    <button type="submit">register account</button>
  </form>
  <p>* Your password has to be at least six characters long</p>
</section>

<section class="registered" *ngIf="registerMsg">
  <p>{{registerMsg}}</p>
  <a routerLink="/login" *ngIf="!hasError">Go to sign in page >></a>
</section>